useDynLib(eco)

importFrom(MASS, mvrnorm)

export(
       bounds,
       eco, 	
       ecoNP,
       ecoRC,
       summary.eco,
       print.summary.predict.eco,
       print.summary.eco,
       predict.eco,
       varcov,
       varcov.eco,
       varcov.ecoNP,
       coef.eco,
       coef.ecoNP)

S3method(varcov, eco)
S3method(varcov, ecoNP)
S3method(coef, eco)
S3method(coef, ecoNP)
S3method(predict, eco)
S3method(summary, eco)
S3method(summary, predict.eco)
S3method(print, summary.eco)
S3method(print, summary.predict.eco)
