useDynLib(eco, .registration = TRUE)

importFrom(MASS, mvrnorm)
importFrom("stats", "as.formula", "coef", "model.frame", "model.matrix", "model.response", "predict", "quantile", "sd", "terms", "weighted.mean")
importFrom("utils", "packageDescription")

export(eco, 	
       ecoBD,
       ecoNP,
       ecoML,
       summary.eco,
       summary.ecoNP,
       summary.ecoML,
       print.summary.eco,
       print.summary.ecoNP,
       print.summary.ecoML,
       predict.eco,
       predict.ecoX,
       predict.ecoNP,
       predict.ecoNPX,
       Qfun)

S3method(varcov, eco)
S3method(varcov, ecoNP)
S3method(coef, eco)
S3method(coef, ecoNP)
S3method(predict, eco)
S3method(predict, ecoX)
S3method(predict, ecoNP)
S3method(predict, ecoNPX)
S3method(summary, eco)
S3method(summary, ecoNP)
S3method(summary, ecoML)
S3method(summary, predict.eco)
S3method(print, eco)
S3method(print, ecoML)
S3method(print, ecoBD)
S3method(print, summary.eco)
S3method(print, summary.ecoNP)
S3method(print, summary.ecoML)
S3method(print, summary.predict.eco)

